
            <section class="weight-container">

                <header>
                    <nav class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <a href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                            </div>
                            <div class="col-xs-6 rightAlign">
                                <a href="#"> <span class="glyphicon glyphicon-transfer"></span></a>
                            </div>
                        </div>
                    </nav>
                </header>
                <!-- data container starts-->
                <div class="data-container largeWeight">
                    <p class="date">June 4,2015</p>
                    <p class="weight-number">54.7<span class="measure">kg</span></p>
                    <p class="heading">Body Weight</p>
                </div>
                <!-- data container eds-->
                <div class="row graph-labels">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            Feb
                        </div>
                        <div class="col-xs-2 ">
                            Mar
                        </div>
                        <div class="col-xs-2">
                            Apr
                        </div>
                        <div class="col-xs-2 ">
                            May
                        </div>
                        <div class="col-xs-2">
                            June
                        </div>
                        <div class="col-xs-2 ">
                            July
                        </div>
                    </div>
                </div>
                <line-chart graph-data="steeplineData"></line-chart>

                <div class="row avgWeight">
                    <p class="goalWeight">&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;Your Goal 50 kg</p>

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <p class="date">June 4,2015</p>
                            <p class="weight-number">54.7<span class="measure">kg</span></p>
                            <p class="heading">Body Weight</p>
                        </div>
                        <div class="col-xs-6 rightAlign">
                            <p class="date">June 4,2015</p>
                            <p class="weight-number">54.7<span class="measure">kg</span></p>
                            <p class="heading">Body Weight</p>
                        </div>
                    </div>
                </div>


            </section>