
            <section class="welcome-section">
    <!-- header starts-->
    <header>
        <nav class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a href="#"> <span class="glyphicon glyphicon-align-center"></span></a>
                </div>
                <div class="col-xs-6">
                    <img src="images/profile.jpg" class="profile" />
                </div>
            </div>
        </nav>
        <h1>Welcome back Jana,<br/> Things look <span class="highlight">alright</span> </h1>
    </header>
    <!-- header ends-->

    <!-- data container starts-->
    <div class="data-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <p> <span class="number-hightlight">36.75&#176; </span>
                        <p class="sub-title"> Temperature </p>
                        <p></p>
                </div>
                <div class="col-xs-6">
                    <p> <span class="number-hightlight">537</span>cal</p>
                    <p class="sub-title"> Calories burned </p>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <p> <span class="number-hightlight">3342</span> </p>
                    <p class="sub-title"> steps </p>
                    <p></p>
                </div>
                <div class="col-xs-6">
                    <p> <span class="number-hightlight">87</span>bpm</p>
                    <p class="sub-title"> Heart rate </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- data container ends-->
    <!-- activity-container starts-->
    <div class="activity-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                      <h3>Morning activity</h3>                  
                </div>
                <div class="col-xs-6">
                   <p class="label-size"><span class="highlight">&#9679;</span>Today <span>&#9679;</span>Avg</p>
                </div>
            </div>
        </div>
     
         <line-chart graph-data="lineData"></line-chart>
    </div>
    <!-- activity-container ends-->
</section>